@import "@blueprintjs/core/dist/blueprint.css";
@import "@blueprintjs/datetime/dist/blueprint-datetime.css";

body {
    background-color: #f5f8fa;
}
button:focus {
    outline:0 !important;
}

.app-wrap {
    .app {
        width: 1000px;
        margin: 0 auto;
    }
}

.app-content {
    margin-top: 30px;

    h1 {
        font-size: 26px;
        color: #888888;

        span {
            color: #182026;
        }
    }
    h2 {
        font-size: 20px;
        margin-top: 15px;
    }
}

.list-head {
    display: flex;
    justify-content: space-between;
}
.app-list {
    width: 100%;

    .app-list-id {
        width: 30%;
    }
    .app-list-title {}
    .app-list-actions {
        width: 10%;
    }
}

.app-edit {
    form {
        input {
            width: 100%;
        }
        textarea {
            width: 100%;
            height: 100px;
        }

        .controls {
            margin-top: 15px;
            display: flex;
            justify-content: center;

            button {
                margin-left: 15px;
            }
        }
    }

    .app-button-group {
        .pt-label {
            margin-bottom: 8px;
        }
        margin-bottom: 16px;
    }
}

.dropzone-inner {
    margin: 10px;
}
.attachment-actions {
    a {
        display: block;
    }
}
.attachment-label {
    font-weight: bold;
    font-size: 16px;
}

.app-login {
    width: 300px;
    margin: 0 auto;

    .error-message {
        color: red;
    }

    form {
        input {
            width: 100%;
        }

        .controls {
            margin-top: 15px;
            display: flex;
            justify-content: center;

            button {
                margin-left: 15px;
            }
        }
    }
}